build
coverage

.DS_Store
.atom/
.idea/
.vscode/*
!.vscode/tasks.json
!.vscode/settings.json

.packages
.pub/
.dart_tool/
pubspec.lock

*.iml

.flutter-plugins
.flutter-plugins-dependencies

.project
.classpath
.settings
.last_build_id

service-account.json

pubspec_overrides.yaml
