firebase-debug.log
ui-debug.log
firestore-debug.log

node_modules
packages/dart_firebase_admin/test/client/package-lock.json

build
coverage

.DS_Store
.atom/
.idea/
.vscode/*
!.vscode/tasks.json
!.vscode/settings.json

.packages
.pub/
.dart_tool/
pubspec.lock

*.iml

.flutter-plugins
.flutter-plugins-dependencies

.project
.classpath
.settings
.last_build_id

service-account.json

**/pubspec_overrides.yaml
