name: Build

on:
  pull_request:
    paths-ignore:
      - "**.md"
      - "**.mdx"

  schedule:
    # runs the CI everyday at 10AM
    - cron: "0 10 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: packages/dart_firebase_admin

    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 2
      # - uses: actions/setup-node@v4
      # - uses: subosito/flutter-action@v2.7.1
      #   with:
      #     channel: master
      # - name: Add pub cache bin to PATH
      #   run: echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH
      # - name: Add pub cache to PATH
      #   run: echo "PUB_CACHE="$HOME/.pub-cache"" >> $GITHUB_ENV

      # - name: Install firebase CLI
      #   run: npm install -g firebase-tools

      # - name: Install dependencies
      #   run: dart pub get && cd example && dart pub get && cd -

      # - name: Check format
      #   run: dart format --set-exit-if-changed .

      # - name: Analyze
      #   run: dart analyze

      - run: mkdir -p $HOME/.config/gcloud
      - run: echo ${{ secrets.CREDS }} > $HOME/.config/gcloud/application_default_credentials.json
      - run: cat $HOME/.config/gcloud/application_default_credentials.json

      # - name: Run tests
      #   run: ${{github.workspace}}/scripts/coverage.sh

      # - name: Upload coverage to codecov
      #   run: curl -s https://codecov.io/bash | bash
